@model IEnumerable<MemoriesWebApp.Models.Image>

@{
    ViewData["Title"] = "Index";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Album</h1>
        <p class="lead text-muted">Zdjęcia ze wszystkich spotkań jakie miały dotychczas miejsce</p>
        <p>
            <a asp-action="Create" type="button" class="btn btn-primary my-2">Dodaj nowe zdjęcie</a>
            <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
    </div>
</section>
<div class="album py-5">
    <div class="container">
        <div class="row">
        @foreach (var image in Model)
        {
            string imageCity = !string.IsNullOrEmpty(image.City) ? image.City : image.Meeting.MeetingCity.ToString();
            string imageDate = image.Date.ToString() != "01.01.0001" ? image.Date.ToShortDateString() : image.Meeting.DateStart.ToShortDateString();

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="@image.Description" src="@image.Url">
                <div class="card-body">
                  <p class="card-text">@image.Name - @image.Description</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-danger">Usuń</button>
                    </div>
                    <div class="text-muted">
                        <small class="m-2"><i class="bi bi-geo-fill"></i> @imageCity</small>
                        <small><i class="bi bi-calendar-heart"></i> @imageDate</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        }
        </div>
    </div>
</div>